<section>
  <!-- Button open modal form -->
  <button
    type="button"
    class="btn btn-light"
    data-bs-toggle="modal"
    data-bs-target="#addTask"
  >
    AGREGAR TAREA
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="addTask"
    tabindex="-1"
    aria-labelledby="openModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="openModal">AGREGAR TAREA</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- form -->
           <div class="mb-3">
            <label for="dateStart" class="form-label">FECHA DE INICIO</label>
            <input
              type="datetime-local"
              class="form-control"
              id="dateStart"
              [(ngModel)]="dateStartTask"
            />
           </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">RAMA O CAMPO</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="html, matematicas, emprendimiento..."
              [(ngModel)]="nameTask"
            />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">DESCRIPCIÓN</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              placeholder="aprender sobre apis"
              [(ngModel)]="description"
            />
          </div>

          <div class="mb-3">
            <label for="time" class="form-label">TIEMPO DE META</label>
            <p class="d-flex justify-content-between" style="font-size: .7rem;"><span>1 DIA</span><span>1 SEMANA</span><span>1 MES</span><span>6 MESES</span><span>1 AÑO</span><span>2 AÑOS</span></p>
            <input type="range" class="form-range" min="0" max="5" id="time" [(ngModel)]="time" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            CERAR
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveTask()">
            GUARDAR CAMBIOS
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
