<div class="container-fluid container_main">
  <div class="row">
    <header class="col-4 container_main-header">
      <nav>
        <h1>Temas Pendientes</h1>
        <ul>
          <li class="fs-4">Java <span>5</span></li>
          <li>React <span>0</span></li>
          <li>Sql <span>5</span></li>
          <li>Git y Github <span>8</span></li>
        </ul>
      </nav>
    </header>
    <main class="col-6 container_main-main">
      <app-task-list />
    </main>
    <aside class="col-2 container_main-aside">
      <app-btn-cerate-task/>
    </aside>
  </div>
</div>
